

body{
  background:url("https://cdn.pixabay.com/photo/2017/04/13/13/18/wolf-2227541__340.jpg") no-repeat;
	background-size: cover;
	width:100%;
}
  
  
  .keys{
	min-height:100vh;
	align-items: center;
	justify-content: center;
	display:flex;
	flex-wrap:wrap;
	

}



.key{
	border:6px solid black;
	border-radius:5px;
	margin: 1rem;
	font-size: 1.5rem;
	padding:1rem .5rem;
	transition:all 0.07s;
	width:100px;
	text-align:center;
	color:white;
	background:rgba(0,0,0,0.4);
	text-shadow:0 0 5px black;
}



kbd{
	display:block;
	font-size:40px;
}
.sound{
	font-size:1rem;
	text-transform:uppercase;
	letter-spacing: 1px;
	color:#ffc600;
}
.playing{
	transform: scale(1.1);
	border-color:#ffc600;
	box-shadow:0 0 10px #ffc600;
}
.intro{
  display:block;
  box-shadow:0px 0px 10px grey;
  background-color:;
}
.intro p{
  text-align:center;
  font-size:1.5em;
  font-weight:bold;
  font-style:oblique;
  color:#ff80af;
}
